:root {
  --light-gray: #7d7987;
  --balck: #000;
  --light-blue: #458ff6;
  --white: #fff;
}

body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  line-height: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 50px;
}

.header__logo {
  width: 160px;
  height: 41px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header__item{} */

.header__silka {
  color: var(--light-gray);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s;
}

.active {
  font-weight: 700;
  color: var(--balck);
}

.header__silka:hover {
  color: var(--light-blue);
  transform: translateX(2px);
}

.active:hover {
  color: var(--balck);
}

.primary-btn {
  padding: 0 51px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  background: transparent;
  color: var(--light-blue);
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.outline-btn {
  background: var(--light-blue);
  color: var(--white);
}

/* jahongir header va hero */
/* jahongir header va hero */

/* diyor cervices */

.cervices {
  display: flex;
}

.services__left h1 {
  max-width: 427px;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
}

.services__left p {
  color: var(--light-gray);
  padding-top: 25px;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.services__right img {
  width: 593px;
  height: 498px;
  flex-shrink: 0;
}

.information__providers {
  display: flex;
  gap: 142px;
  margin-bottom: 265px;
}

.information__left img {
  width: 650px;
  height: 477px;
  flex-shrink: 0;
}

.information__right h3 {
  max-width: 481px;
  margin-bottom: 26px;
  color: var(--balck);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.information__right hr {
  width: 56px;
  height: 2px;
  margin: 0 0 35px;
  margin-bottom: 31px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--balck);
}

.information__right p {
  max-width: 450px;
  color: #7d7987;
  margin-bottom: 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.information__mobile {
  display: flex;
  gap: 71px;
}

.mobile__left h3 {
  max-width: 254px;
  color: var(--balck);
  font-size: 36px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
}

.mobile__left hr {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  margin-bottom: 31px;
  border-radius: 6px;
  background: var(--balck);
  margin: 0 0 35px;
}

.mobile__left p {
  max-width: 420px;
  color: var(--light-gray);
  margin-bottom: 61px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

/* diyor cervices */
